<div>
    {% for category in categories %}
        {% if not category.parent %}
            <p>This category doesn't have a parent</p>
            {% include '_category.html' %}
            {% for child in category.children %}
                <p>This is a child category of << {{ category.name }} >></p>
                {% include '_category_child.html' %}
                {% for grandchild in child.children %}
                    <p>This is a grandchild category of << {{ child.name }} >></p>
                    {% include '_category_grandchild.html' %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>