<div>
    <table>
        <tr valign="top">
            <td>Category: {{ category.name }}</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('routes.edit_category', id=category.id) }}">Edit Category</a></td>
            <td><a href="{{ url_for('routes.delete_category', id=category.id) }}">Delete Category</a></td>
        </tr>
    </table>
    <hr>
    {% for gidgud in category.gidguds %}
        {% include 'gidgud.html' %}
    {% endfor %}
    {% if category.children %}
        <div style="margin-left: 20px;">
            {% for child in category.children %}
                {% include '_category.html' with context %}
            {% endfor %}
        </div>
    {% endif %}
</div>