<!doctype html>
<html>

    <head>
        {% if title %}
        <title>{{ title }} - GidGud</title>
        {% else %}
        <title>Welcome to GidGud</title>
        {% endif %}
    </head>

    <body>
        <div>
            GidGud:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('statistics', username=current_user.username) }}">My Stats</a>
            <a href="{{ url_for('statistics2', username=current_user.username) }}">My Stats 2</a>
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('user_categories', username=current_user.username) }}">My Categories</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        {% block feed %}{% endblock %}
    </body>

</html>