{% extends "base.html" %}

{% block content %}

    <h1>Hello, {{ current_user.username }}! This is your statistic</h1>
    <div>
        <p>Active GidGuds</p>
        <div>
            {% for gg in ggs %}
                {% include '_gidgud.html' %}
            {% endfor %}
        </div>

        <p>Inactive GidGuds</p>
        <div>
            {% for gg in igs %}
                {% include '_gidgud.html' %}
            {% endfor %}
        </div>

        <p>Completed GidGuds</p>
        <div>
            {% for cg in cgs %}
                {% include '_completed_gg.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}