{% extends "base.html" %}

{% block content %}

    <h1>Hello, {{ current_user.username }}! This is your statistic</h1>
    <div>
        <p>Open Gids</p>
        <div>
            {% for gidgud in open_gids %}
                {% include '_gidgud.html' %}
            {% endfor %}
        </div>

        <p>Waiting for next occurrence</p>
        <div>
            {% for gidgud in waiting_gids %}
                {% include '_gidgud.html' %}
            {% endfor %}
        </div>

        <p>Completed Guds</p>
        <div>
            {% for gidgud in completed_gids %}
                {% include '_gidgud.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}