{% extends "base.html" %}

{% block content %}

    <h1>Hello, {{ current_user.username }}! This is your statistic</h1>
    <div>
        <p>Open Gids</p>
        <div>
            {% for gidgud in gidguds['gids'] %}
                {% include '_gidgud.html' %}
            {% endfor %}
        </div>

        <p>Waiting for next occurrence</p>
        <div>
            {% for gidgud in gidguds['sleep'] %}
                {% include '_gidgud.html' %}
            {% endfor %}
        </div>

        <p>completed_at Guds</p>
        <div>
            {% for gidgud in gidguds['guds'] %}
                {% include '_gidgud.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}